html{
    overflow-x:hidden;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    text-transform: uppercase;
    position: fixed;
    top: 10%;
    left: 51%;
    font-size: 248px;
    transform: translateX(-50%);
    opacity: 0.05;
}
.mainDiv{
    height: 80vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#digitalWatchContainer, #stopWatchContainer{
    background: #3ccccc;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    position: relative;
}
#digitalWatchContainer input{
    cursor: pointer;
}
.digital-watch{
    font-size: 40px;
    padding-top: 10px;
    z-index: 99;
}
.title{
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:0;
    color:#fff;
    mix-blend-mode: screen;
    padding: 30px;
    font-size: 50px;
    font-weight: bold;
    background-color: red;
    width: max-content;
    text-shadow: 1.5px 1.5px #000;
}
#stopWatchContainer{
    background-color: red;
}
#stopWatchContainer .title{
    background-color: #3ccccc;
}
.stop-watch{
    font-size: 40px;
    z-index: 99;
}
.btn-container button{
    background-color: #ff0000;
    color: #fff;
    font-size: 20px;
    border: 1px solid #ffffff;
    cursor: pointer;
}
.btn-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap: 20px;
    z-index: 99;
}
.timeFormat-container{
    z-index: 99;
}
